body{
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: blueviolet;
    transition: 0.3s all;
}

#coisa{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 15px;
}

#coisa:hover{
    background-color: blueviolet;
    color: #fff;
    transition: 0.3s all;
}

li{
    display: inline-block;
    margin: 20px;
    margin-bottom: 0px;
}

h1{
    font-weight: 100;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

h2{
    font-size: 56px;
}

span{
    color: blueviolet;
}

p{
    line-height: 20px;
    max-width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

input[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: blueviolet;
    color: #fff;
    font-weight: bold;
}

input[type="submit"]:hover{
    cursor: pointer;
}

@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }

    input{
        align-self: center;
        width: 100%;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}